<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bad Request</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="container">
            <h1>Bad Request</h1>
            <p class="error-message">The server could not process your request. Please check your input and try again.</p>
            <div class="error-options">
                <button class="error-button" onclick="window.location.href='{{ url_for('index') }}'"> Home </button>
                {% if user and is_admin(user.username) %}
                <button class="error-button" href="#" onclick="document.getElementById('error-details').style.display='block';">View Error Details</button>
                {% endif %}
            </div>

            <div id="error-details" style="display:none;">
                <h2>Error Details:</h2>
                <p>{{ error }}</p>
            </div>
        </div>
    </body>
</html>