<!DOCTYPE html>
<html>

    <head>
        <title>Create Post</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="container">
            <p> Please enter the text and/or upload a photo/video with your post below:</p>
            <form action="{{ url_for('create_post') }}" method="post" enctype="multipart/form-data">
            <textarea class="post-input-box" placeholder="Enter your text here" name="post" type="text" required></textarea>
            <a> Upload a photo/video: </a> <input type="file" name="photo" accept=".png, .jpg, .jpeg, .gif, .mp4, .avi, .mov">
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} {% endwith %}
            <input class="post-button" type="submit" value="Post">
            </form>
        </div>
    </body>

</html>
 