<!DOCTYPE html>
<html>
<head>
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <p>Need help navigating Blazing Adoptions? These sections might help:</p>

        <div class="faq-section">
            <button class="faq-title">For guest Users</button>
            <div class="faq-content">
                <ul>
                    <li><strong>How can I register?</strong><br>
                        <div class="faq-video">
                            <iframe src="https://scribehow.com/embed/How_to_register_on_our_website__e4fooberSZ2yrM96tzvV_A?as=video" width="75%" height="300" allowfullscreen frameborder="0"></iframe>
                        </div>
                    

                    </li>
                    <li><strong>Can I browse pets without creating an account?</strong><br>
                        Yes, you can view pet listings without a registering</li>

                    <li><strong>Can I save pets as a guest?</strong><br>
                        No, you will need to register for this feature.</li>
                    <li><strong>Will the pets I see be up-to-date?</strong><br>
                        Yes, listings are updated in real time by Shelter management.</li>
                    
                </ul>
            </div>

            <button class="faq-title">For Registered Users</button>
            <div class="faq-content">
                <ul>
                    <li><strong>How do I save a pet?</strong><br>
                        Click on the save/heart button on a pet listing. You can view saved pets in your profile.</li>
                    <li><strong>How do I update my profile info?</strong><br>
                        Click your profile picture in the top-right and select “Edit Profile.”.</li>
                    
                </ul>
            </div>
        </div>

        <button class="back-home-btn" onclick="window.location.href='{{ url_for('index') }}'">Back Home</button>
    </div>

    <script>
        const faqTitles = document.querySelectorAll(".faq-title");

        faqTitles.forEach(title => {
            title.addEventListener("click", function () {
                this.classList.toggle("active");
                const content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        });
    </script>
</body>
</html>