<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Post</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="post">
            <div class="post-box">
                <div class="post-header">
                    <img src="{{ post.user.profile_picture }}" alt="Profile Picture" class="post-profile-picture">
                    <span class="username-container"><a style="color:forestgreen" href="{{ url_for('view_profile', username=post.user.username) }}" class="username">{{ post.user.username }}</a></span>
                    <span class="time" data-timestamp="{{ post.timestamp.isoformat() }}">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                </div>

                {% if post.photos %}
                    <div class="post-photos">
                        {% for photo in post.photos %}
                            <div class="post-photo">
                                <img src="{{ photo }}" alt="Post Photo">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if post.videos %}
                    <div class="post-videos">
                        {% for video in post.videos %}
                            <div class="post-video">
                                <video controls>
                                    <source src="{{ video }}" type="video/mp4">
                                </video>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="post-content">{{ post.content }}</div>
                {% if pet %}
                    <div class="pet-link">
                        <a class="view-pet-btn" href="{{ url_for('view_pet', pet_id=pet.id) }}">View Pet: {{ pet.name }}</a>
                    </div>
                {% endif %}
                <div class="like-section">
                    <form action="{{ url_for('server_like', post_id=post.id) }}" method="post" class="like-form">
                        <input class="like-button" type="image" 
                               src="{{ url_for('static', filename='assets/like-liked.png') if user and post.id in liked_posts else url_for('static', filename='assets/like-unliked.png') }}">
                    </form>
                    <span class="like-count">{{ likes }}</span>
                </div>
            </div>
            <a>Comments: </a>
            {% for comment in comments %}
                <div class="comment">
                    <div class="comment-box">
                        <div class="comment-header">
                            <img src="{{ comment.user.profile_picture }}" alt="Profile Picture" class="post-profile-picture">
                            <span class="username-container"><a style="color:forestgreen" href="{{ url_for('view_profile', username=comment.user.username) }}" class="username">{{ comment.user.username }}</a></span>
                        </div>
                        <div class="post-content">{{ comment.content }}</div>
                    </div>
                </div>
            {% endfor %}
            <form action="{{ url_for('post_page', post_id=post.id) }}" method="post" id="commentform">
                <input style="margin-left: 0px;" class="comment-input-box" placeholder="Comment" name="comment" type="text" required>
                <input type="submit" value="Post">
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var elements = document.getElementsByClassName("time");
            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];
                var utcTime = element.getAttribute("data-timestamp");
                var localTime = new Date(utcTime);
                element.textContent = localTime.toLocaleString() + " CT";
            }
        });
    </script>
</body>
</html>