<!doctype html>
<html>

    <head>
        <title>{{ user.username }}'s Profile</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flashes">
                        {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div class="profile-box">
                <img src="{{ user.profile_picture }}" alt="Profile Picture" class="profile-picture-profile-box"/>
                <h1 style="margin: 0px">{{ user.username }}</h1>
                {% if is_admin(user.email) %}
                <div class="admin-badge">
                    <p>Site Admin</p>
                </div>
                {% endif %}
                <div class="profile-buttons">
                    {% if session['user_id'] != user.id %}
                        {% if current_user_id and get_follow_status(current_user_id, user.id) == -1 %}
                            <form action="{{ url_for('follow', user=user.id, action='request') }}" method="post">
                                <button type="submit" class="profile-button">Follow</button>
                            </form>
                        {% elif current_user_id and get_follow_status(current_user_id, user.id) == 0 %}
                            <button class="profile-button" disabled>Request Pending</button>
                        {% elif current_user_id and get_follow_status(current_user_id, user.id) == 1 %}
                            <form action="{{ url_for('follow', user=user.id, action='unfollow') }}" method="post">
                                <button type="submit" class="profile-button">Unfollow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="follower-following-counts">
                    <span class="count" onclick="openPopup('followers-popup')">Followers: {{ user.followers|length }}</span>
                    <span class="count" onclick="openPopup('following-popup')">Following: {{ user.following|length }}</span>
                </div>
            </div>

            <div id="followers-popup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup('followers-popup')">&times;</span>
                    <h3>Followers</h3>
                    {% if user.followers %}
                        <ul class="followers">
                            {% for follow in user.followers %}
                                <li>
                                    <img src="{{ follow.follower.profile_picture }}" alt="Profile Picture" class="post-profile-picture">
                                    <a class="username" href="{{ url_for('view_profile', username=follow.follower.username) }}">{{ follow.follower.username }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="no-data">None</p>
                    {% endif %}
                </div>
            </div>

            <div id="following-popup" class="popup">
                <div class="popup-content">
                    <span class="close" onclick="closePopup('following-popup')">&times;</span>
                    <h3>Following</h3>
                    {% if user.following %}
                        <ul class="following">
                            {% for follow in user.following %}
                                <li>
                                    <img src="{{ follow.followed.profile_picture }}" alt="Profile Picture" class="post-profile-picture">
                                    <a class="username" href="{{ url_for('view_profile', username=follow.followed.username) }}">{{ follow.followed.username }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="no-data">None</p>
                    {% endif %}
                </div>
            </div>
            <div class="profile-container">
                <h3>Email:</h3>
                <p class="email">{{ user.email }}</p>
            </div>
            {% if user.bio %}
                <div class="profile-container">
                    <h3>Bio:</h3>
                    <p class="bio">{{ user.bio }}</p>
                </div>
            {% endif %}
            {% if posts %}
    <div class="profile-container">
        <h3>Posts:</h3>
        {% if user.is_private and session['user_id'] != user.id and get_follow_status(session['user_id'], user.id) != 1 %}
            <p1> Posts hidden because this account is private. Send a follow request to this user to see their posts! </p1>
        {% endif %}
                {% for post in posts %}
                    {% if post.user.is_private == false or session['user_id'] == user.id or get_follow_status(session['user_id'], user.id) == 1 %}
                        <div onclick="location.href='{{ url_for('post_page', post_id=post.id) }}';" class="post">
                            <div class="post-box">
                                <div class="post-header">
                                    <img src="{{ post.user.profile_picture }}"
                                        alt="Profile Picture" class="post-profile-picture">
                                    <span class="username-container"><a style="color:forestgreen"
                                        href="{{ url_for('view_profile', username=post.user.username) }}"
                                        class="username">{{ post.user.username }}</a></span>
                                    <span class="time" data-timestamp="{{ post.timestamp.isoformat() }}">{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</span>
                                </div>

                                {% if post.photos %}
                                    <div class="post-photos">
                                        {% for photo in post.photos %}
                                            <div class="post-photo">
                                                <img src="{{ photo }}" alt="Post Photo">
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if post.videos %}
                                    <div class="post-videos">
                                        {% for video in post.videos %}
                                            <div class="post-video">
                                                <video controls>
                                                    <source src="{{ video }}" type="video/mp4">
                                                </video>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="post-content">{{ post.content }}</div>
                                <a style="text-align: left; display: block;">Likes: {{ get_likes(post.id) }}</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var elements = document.getElementsByClassName("time");
                for (var i = 0; i < elements.length; i++) {
                    var element = elements[i];
                    var utcTime = element.getAttribute("data-timestamp");
                    var localTime = new Date(utcTime);
                    element.textContent = localTime.toLocaleString() + " CT";
                }

                var popups = document.getElementsByClassName("popup");
                for (var i = 0; i < popups.length; i++) {
                    popups[i].style.display = "none";
                }
            });

            function openPopup(popupId) {
                var popup = document.getElementById(popupId);
                popup.style.display = "flex";
            }

            function closePopup(popupId) {
                var popup = document.getElementById(popupId);
                popup.style.display = "none";
            }
        </script>
    </body>
</html>